/* =========================================
CONTACT PAGE BODY
============================================ */
.contactBody {
    display: flex;
    justify-content: space-between;
    padding: 10% 0;

    .contactInformation {
        width: 27%;

        i {
            color: $buttonBackgroundColor;
            margin: 0 20px 10px 0;
            font-size: 1.2rem;
        }

        .textContent {
            .contactEmailAddress {
                font-family: $baseFont;
                letter-spacing: 1px;
                font-size: 1.15rem;
            }

            .address p {
                margin: 0;
            }
        }
    }

    .contactMessage {
        width: 67%;

        form {
            background-color: white;
            @include formStyle(250px, $fontSecondary);
            @include boxShadow(-23px);
            padding: 10% 6% 5% 6%;
            margin-top: -50%;

            input,
            textarea {
                background-color: white;
            }
        }
    }
}