/* =========================================
HEADER
============================================ */

.homeHeader {
    background: url(./../assets/home-image-1.jpg) center;
}

.blogHeader {
    background: url(./../assets/blog-header-1.jpg) center;
}

.contactHeader {
    background: url(./../assets/contact-header-1.jpg) center;
}

.homeHeader,
.blogHeader,
.contactHeader {
    background-size: cover;
    padding-bottom: 3%;
}

.homeHeader {
    padding-bottom: 10%;
}

header, nav a {
    color: $primaryColor;
}

nav .wrapper,
nav ul {
    display: flex;
}

nav {
    padding: 20px 0 10px 0;
}

.blogContactNavigation {
    background-color: black;
    margin-bottom: 20%;
}

.logo {
    font-size: 2rem;
    font-weight: 400;
}

nav ul {
    align-self: center;
}

nav li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
}

.heroTextHome {
    background: url(./../assets/header-box.jpg) center;
    background-repeat: no-repeat;
    width: 45%;
    float: right;
    margin: 10% -7% -20% 0;
    padding: 6% 0 15% 0;
}

.heroTextHome h1 {
    font-weight: 400;
    margin-left: -80%;
    line-height: 130px;
}
span {
    color: $secondaryColor;
}

span.makeBlock {
    display: block;
}


// Footer
footer {
    background-color: #2C2C2C;
    color: $primaryColor;
    text-align: center;
    padding: 10px 0;
}
